/*Media Query android*/

@media (max-width: 767.98px) {

	header .container img{
		height: 70px;
		width: 70px;
	}
	header .container h1{
		font-size: 30px;
	}
	nav h3{
		font-size: 17px;
	}
	header .btn{
		width: 112px;
	}

}



/*Windows*/

body{
	font-family: sans-serif;
	background-image: url(foto/vlcsnap-2018-06-12-13h07m02s231.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}




/*Header*/

.transparan{
	background-color: rgba(48, 133, 119,1);
}

.transparan2{
	color: white;
	padding: 20px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 50px;
	background-color: rgba(0, 0, 0,1);
}

header form .btn:hover{
	color: white;
	transition: 0.8s;
}

/* Header Akhir */



/*Content*/

content .pesan{
	color: white;
	background-color: rgba(136,228,182,0.6);
	border-radius: 5px;
	height: 400px;
}

content .sarana{
	color: white;
	background-color: rgba(136,228,182,0.6);
	height: 330px;
	border-radius: 5px;
}

content h2{
	cursor: pointer;
	color: white;
	text-transform: uppercase;
	transition-duration: 0.5s;
}

content a:hover{
	text-decoration: none;
}

content h2:hover{
	color: gold;
	font-size: 35px;
}

content h2::after{
	content: "";
	display: block;
	border-bottom: 2px solid rgb(15, 110, 79);
	width: 0%;
	transition: 0.8s;
}

content h2:hover::after{
	content: "";
	display: block;
	margin: auto;
	border-bottom: 3px solid rgb(57, 126, 99);
	width: 75%;
}

content form{
	margin-top: 35px;
	text-transform: capitalize;
}

content .pesan input{
	background: rgba(255,255,225,0.3);
	width: 225px;
	margin: 10px auto 0;
	border: 2px solid rgba(44, 102, 78, 0.6);
	color: white;
	font-size: 17px;
	transition: 0.4s;
}

content .pesan input:hover, content .pesan input:focus{
	background-color: white;
	border-color: rgb(0, 0, 0);
	width: 90%;
	height: 50px;
}

content .sarana .tombol1{
	width: 20%;
	transition: 0.9s;
}

content .sarana .tombol2{
	width: 30%;
	transition: 0.9s;
}

content .sarana .tombol1:hover, content .sarana .tombol2:hover{
	width: 75%;
}


/*Footer*/

footer{
	background-color: black;
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer i{
	margin-left: 5px;
}